<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="assets/viureth-favicon-color.png" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="style/ProductPage.css">
    <title>Viureth</title>
  </head>
  
  <body class="mt-15 h-[100svh] bg-repeat-y bg-fixed bg-cover bg-center"
  style="background-image: url('assets/background_image.jpg');">
    <div id="app">
      <!-- Header -->
      <header>
        <div class="bg-transparent h-[80px] w-full z-20 py-[10px] backdrop-blur-sm top-0" id="nav">
          <div class="max-w-screen max-h-[60px] flex items-center justify-between mx-[100px] scroll-smooth" id="nav_content">
            <div>
              <a href="index.html">
                <img src="assets/viureth-favicon-color.png" alt="logo_icon.png" class="h-[60px] mr-[500px]">
              </a>
            </div>
            <div class="" id="nav_list">
              <ul class="flex gap-x-11 text-white font-medium">
                <li><a href="index.html">Home</a></li>
                <li><a href="ProductPage.html">Product</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </div>
            <div id="cart_btn">
              <a href="CartPage.html">
                <button class="py-[5px] px-[10px] rounded-[15px] drop-shadow-xl bg-orange-500 hover:drop-shadow-xl scale-[1.1]">Cart <i class='bx bxs-cart-alt'></i></button>
              </a>
            </div>
          </div>
        </div>
    </header>
  
      <main>
        <div v-if="keranjang.length > 0">
          <div class="flex justify-center h-auto">
            <div class="mx-[50px] flex my-auto bg-orange-500 relative rounded-3xl p-8 font-bold w-full gap-x-8">
              <div class="grid grid-flow-row gap-y-4">
                <div v-for="(item, index) in keranjang" :key="item.id">
                  <div class="max-h-80 rounded-lg shadow bg-gray-800 flex w-[100%]">
                    <div class="flex">
                      <a href="#">
                        <img class="p-3 rounded-t-lg h-[192px] w-[200px] object-cover" :src="item.image" alt="product image" />
                      </a>
                      <div class="px-5 h-fit self-center text-pretty w-[500px] ">
                        <a href="#">
                          <h5 class="text-2xl font-normal tracking-tight dark:text-white">{{ item.nama }}</h5>
                        </a>
                      </div>
                    </div>
                    <div class="self-center px-8 justify-end">
                      <div class="">
                        <span class="text-2xl text-center font-thin text-white ">{{ formatRupiah(item.harga * item.quantity) }}</span>
                      </div>
                      <div class="flex justify-end gap-x-[20px] mt-4 ">
                        <button @click="tambahItem(index)" class="w-[50px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 text-center  dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class='bx bx-plus'></i></button>
                        <h6 class="text-2xl font-thin tracking-tight text-white "> {{ item.quantity }} x </h6>
                        <button @click="kurangiItem(index)" class="w-[50px] text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 text-center "><i class='bx bx-minus'></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-gray-800 h-[100] w-[30%] rounded-xl p-8 flex flex-col justify-between">
                  <div class="mb-[30px]">
                    <h5 class="text-center text-white text-3xl">Confirm Order <hr class="mt-3"></h5>
                  </div>
                  <div class="flex flex-col gap-y-4">
                    <div v-for="(item, index) in keranjang" :key="item.id" class="flex justify-between ">
                      <h6 class="text-white text-pretty font-normal text-l max-w-[150px] ">{{ item.nama }}</h6>
                      <h6 class="text-green-600 font-bold text-l flex items-center ">{{ formatRupiah(item.harga * item.quantity) }}</h6>
                    </div>
                  </div>
                  <hr class="mt-[100px] ">
                  <div class=" flex justify-between mt-[10px]">
                    <h5 class="text-start font-normal text-white text-2xl ">Total :</h5>
                    <h5 class="text-start text-white text-2xl"> {{ formatRupiah(totalHarga) }}</h5>
                  </div>
                  <div class="flex justify-center mt-5">
                    <button class="bg-yellow-500 w-full h-[35px] rounded-l hover:bg-yellow-300 hover:scale-[1.1] duration-300" @click="checkout()">Checkout</button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div v-else class="text-center flex justify-center h-[80vh]">
          <div class="mx-9 my-auto bg-orange-500 h-auto rounded-3xl p-8 font-bold w-full">
            <h4>Your Cart Is Empty</h4>
          </div>
        </div>
      </main>
  
      <footer class="bg-gray-900 text-white p-4 mt-8 w-full ">
        <div class="container mx-auto text-center">
          <span class="block text-sm">© 2024 <a href="https://flowbite.com/" class="hover:underline">Viureth™</a>. All Rights Reserved.</span>
        </div>
      </footer>
    </div>
  
    <script src="main.js"></script>
    
  </body>
</html>