<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="assets/viureth-favicon-color.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <link rel="stylesheet" href="style/ProductPage.css">
  <title>Welcome | Viureth</title>
</head>

<body>
  <div id="app">
    <header> 
      <nav class="dark:bg-gray-900 w-full z-20 top-0 start-0 backdrop-blur-sm ">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto h-[65px] scroll-smooth">
          <a href="LandingPage.html" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/viureth-favicon-color.png" class="h-12" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white -ml-3"></span>
        </a>
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
          <button type="button"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg px-4 py-2 text-center dark:bg-orange-800 dark:hover:bg-orange-700 dark:focus:ring-blue-800 -mr-12">
            <i class='bx bxs-cart'></i>
          </button>
          <button data-collapse-toggle="navbar-sticky" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-sticky" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15" />
            </svg>
          </button>
        </div>
        <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
          <ul
            class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0">
            <li>
              <a href="#"
                class="block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 md:dark:text-blue-500"
                aria-current="page">Home</a>
              </li>
              <li>
                <a href="#products"
                class="block py-2 px-3 text-gray-900 rounded hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-transparent dark:border-gray-700">Products</a>
              </li>
              <li>
              <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-transparent dark:border-gray-700">About</a>
            </li>
            <li>
              <a href="#"
              class="block py-2 px-3 text-gray-900 rounded hover:bg-transparent md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-transparent dark:border-gray-700">Contact</a>
            </li>
          </ul>
        </div>

      </div>
    </nav>
  </header>

  <main>
    <section id="products">
      <div class=" bg-cover bg-center h-[360px] p-8 " style="background-image: url(assets/background_image.jpg) ;">
        <div class=" p-3 flex header h-[300px]">
          <div class="swiper m-3 h-[250px] w-[50%] rounded-lg ">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide flex justify-center items-center"><img src="assets/viureth-favicon-color.png" alt=""></div>
              <div class="swiper-slide flex justify-center items-center"><img src="assets/Mouse-Gaming-Thor-X9.jpg.webp" alt=""></div>
              ...
            </div>
            <!-- If we need pagination -->
            <div class="swiper-scrollbar"></div>

        </div>
        <div class="bg-black w-[50%] m-3 rounded-lg ">
          <h1>test</h1>
        </div>
      </div>
      </div>
      <div class=" bg-orange-500 h-max bg-fixed pt-8 pb-8">
        <div class="dark:text-black flex justify-center text-4xl font-sans mb-11 relative" id="product-header">
          <h3>Our Best Selling Product</h3>
        </div>
        <div class="flex flex-wrap justify-between px-20 ">
          <div v-for="product in products" :key="product.nama" class=" w-full h-80 max-w-xs rounded-lg shadow dark:bg-gray-800 overflow-hidden mb-[15px]" id="product-card" >
            <a href="ProductDescription.html">
              <div class=" h-[320px] content-end" id="product_detail">
                <img class="mx-auto rounded-t-lg bg-cover " :src="product.image" id="product_image"/>
                <a href="ProductDescription.html">
                  <div class="px-5 pb-5">
                  <h5 class="text-l font-semibold tracking-tight text-white  ">{{product.nama}}</h5>
                  </a>
                  <div class="flex items-center mt-2.5 mb-2">
                    <div class="flex items-center space-x-1 rtl:space-x-reverse">
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                    <path
                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                  </svg>
                  <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor" viewBox="0 0 22 20">
                      <path
                      d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-yellow-300" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                      fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                    <svg class="w-4 h-4 text-gray-200 dark:text-gray-600" aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                      <path
                        d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                    </svg>
                  </div>
                </a>
              </div>
              <div class="flex items-center justify-between">
                <span class="text-2xl font-bold text-gray-900 dark:text-white">{{ formatRupiah(product.harga) }}</span>
                <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-2 focus:outline-none focus:ring-blue-500 font-medium rounded-md text-xs px-2 py-1.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-600" @click="addItemToKeranjang(products)">Add
                  to cart</button>
                </div>
              </div>
              </div>
            </div>
        </div>
        <div v-if="keranjang.length > 0" class="">
            <div class="keranjang">
              <div class=" mx-9 mt-[100px] bg-orange-500 h-auto mb-[65px] bg-fixed rounded-3xl p-8 ">
                <div class="px-8">
                      <div v-for="item in keranjang">
                      <div class="max-h-80 rounded-lg shadow dark:bg-gray-800 flex w-full justify-between mb-4">
                        <div class="flex ">
                          <a href="#">
                            <img class="p-8 rounded-t-lg" :src="item.image" alt="product image" />
                          </a>
                          <div class="px-5 h-fit self-center text-pretty w-[400px] ">
                            <a href="#">
                              <h5 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{ item.nama }} : {{ item.quantity}}</h5>
                              </a>
                            </div>
                        </div>
                          <div class="flex flex-col justify-center self-center px-8 pb-5 ">
                            <span class="text-3xl text-center font-bold text-gray-900 dark:text-white">{{ formatRupiah(item.harga*item.quantity) }}</span>
                            <div class="flex justify-center gap-[10px] mt-4">
                              <button @click="tambahItem(index)" class=" w-[50px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class='bx bx-plus'></i></button>
                              <button @click="kurangiItem(index)" class=" w-[50px] text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"><i class='bx bx-minus'></i></button>
                            </div>
                            </div>
                          </div>
                      </div>
                    </div> 
                  </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </main>
    
    <footer>
      <div class="dark:bg-gray-900 h-20 p-3 py-8 bottom-0 ">
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="https://flowbite.com/" class="hover:underline">Viureth™</a>. All Rights Reserved.</span>
      </div>
    </footer>
  </div>
  

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>

  var app = new Vue({
    el: "#app",
    data() {
      return {
        keranjang: [],
        products: [
        {
      id: 1,
      nama: 'Logitech G105',
      harga: 599000,
      image: 'assets/image/mouse1.jpg'
    },
    {
      id: 2,
      nama: 'Logitech X Superlight 2',
      harga: 2399000,
      image: 'assets/image/mouse2.webp'
    },
    {
      id: 3,
      nama: 'Fantech Helios II',
      harga: 599000,
      image: 'assets/image/mouse3.png'
    },
    {
      id: 4,
      nama: 'Fantech MAXFIT67',
      harga: 1299000,
      image: 'assets/image/keyboard2.png'
    },
    {
      id: 5,
      nama: 'Logitech Pro X 60',
      harga: 2100000,
      image: 'assets/image/keyboard1.webp'
    },
    {
      id: 6,
      nama: 'Fantech MAXFIT61',
      harga: 1300000,
      image: 'assets/image/keyboard3.png'
    },
    {
      id:7, 
      nama: 'ROG Swift OLED PG34WCDM',
      harga: 30500000,
      image: 'assets/image/monitor1.png'
    },
    {
      id: 8,
      nama: 'Hyperx Armada 25 FHD Monitor',
      harga: 8250000,
      image: 'assets/image/monitor2.webp'
    },
    {
      id:9,
      nama: 'Nitro XV275K P3 Widescreen Gaming LCD Monitor',
      harga: 12796000,
      image: 'assets/image/monitor3.png'
    }
        ]
      };
    },
    computed: {
      totalHarga() {
        return this.keranjang.reduce((total, item) => total + (item.harga * item.quantity), 0);
      }
    },
    methods: {
      addItemToKeranjang(product) {
        const existingItem = this.keranjang.find(item => item.nama === product.nama);
        if (existingItem) {
          existingItem.quantity++;
        } else {
          this.keranjang.push({ ...product,
                                quantity: 1 });
        }
        localStorage.setItem('productLocal', JSON.stringify(this.keranjang));
      },
      tambahItem(index) {
        this.keranjang[index].quantity++;
      },
      kurangiItem(index) {
        if (this.keranjang[index].quantity > 1) {
          this.keranjang[index].quantity--;
        } else {
          this.keranjang.splice(index, 1);
        }
      },
      formatRupiah(harga) {
        return harga.toLocaleString('id-ID', { style: 'currency', currency: 'IDR' });
      },
      deskripsiBarang(prodcut) {

      }
    },
    components: {}
  });

  const swiper = new Swiper('.swiper', {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
          delay: 4500,
          disableOnInteraction: false,
        },
        scrollbar: {
          el: ".swiper-scrollbar",
          clickable: true,
          hide: true,
        }
  });
</script>

</body>

</html>