@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 2px solid red;
}

#product-header {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

#product-card {
    font-family: "Poppins", sans-serif;
    margin-bottom: 50px;
    filter: drop-shadow(-3px 5px 10px #000000);
}