* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#product-card {
    filter: drop-shadow(-3px 5px 10px #000000);
    transition: all 0.3s ease-in-out; /* Smoother transition with ease-in-out timing function */
}

#product_card:hover {
    transform: scale(1.03);
}

#product_detail {
    transition: all 0.3s ease-in-out;
}

#product_detail:hover {
    transform: scale(1.05); /* Increase scale on hover */
    background: linear-gradient(to top,  rgba(0,0,0,0.9), rgba(0,0,0,0));
}

.products {
    transition: transform 0.3s ease-in-out;
}

.header {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 10px;
}


